
/*adapted from http://codepen.io/devatrox/pen/wztlx - Jason Nickel*/
html {
	height: 100%;
}

body {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-bottom: 70px;
	font-family: sans-serif;
}
.img-responsive{
	max-height: 600px;
}
.thumbnail-row-height {
	min-height: 500px;
}

.thumbnail{
	background-color: transparent;
	border: 0 none;
	width: 90% !important;
	height: 160px;
	overflow: hidden;
	box-shadow: none;
}

.thumbnail img{

width: 100%;
	height: auto;
	display: block;
}

.cover { /*image from https://www.transparenttextures.com/*/

	z-index: 10;
	top: 0;
	position: absolute;
	width: 99.1vw;
	height: 100vh;
}
@media (max-width: 1440px) {
	.cover {
		width: 98.8vw;
	}
}
@media (max-width: 1024px) {
	.cover {
		width: 100vw;
	}
}
@media (max-width: 768px) {
	.cover {
		width: 100vw;
	}
}
/***********************************
comics
***********************************/

@media (min-width: 1024px) {

	#comics {
		width: 72%;
	}

	.comic {
		width: 90%;
		padding-left: 50%;

	}

	.slider {
		margin-top: 2rem;
		padding-bottom: 5rem;
	}

	.sized-img {
		width: 100%;
	}
	#arrows {
		display: none;
	}

}
@media (max-width: 1024px) {

	#comics {
		width: 100%;
	}

	.comic {
		width: 100%
	}

	.slider {
		margin-top: 2rem;
		padding-bottom: 2rem;
	}

	.sized-img {
		width: 100%;
	}

	#arrows {
		text-align: center;
	}

}


/*****************************************
backgrounds and font by time of day
*****************************************/
.night {
	background-image: url(../img/Where-did-my-pancakes-go.JPG);
}
.night-text {
	font-family: 'Rock Salt', cursive;
}
.nav-night {
	background-image: url(../img/skulls.png);
	background-color: rgba(206, 136, 22, .5);
}
.night-color {
	background-color: rgba(206, 136, 22, .5);
}
.night-button {
	background-color: rgba(206, 136, 22, 1);
	color: black;
}
.night-button:hover{ /*site navigation buttons*/
	color: rgba(206, 136, 22, 1);
	background-color: #1A1818;
	box-shadow: inset 0 0 5px dimgray;
	transition-duration: 300ms;
}
.night-button:active{ /*site navigation buttons*/
	color: #D7504A;
	background-color: black;
	box-shadow: inset 0 0 5px lightgray;
	transition-duration: 200ms;
}
.night-brand {
	background: linear-gradient(270deg,black, black, black, rgba(206, 136, 22, 1),rgba(206, 136, 22, 1), #D7504A, #D7504A, #1A1818, #1A1818, black, black, black);
}
.noon {
	background-image: url(../img/Superman-and-ponyo.JPG);
}
.day-text {
	font-family: 'Righteous', cursive;
	font-size: 2rem;
}
.nav-day {
	background-image: url(../img/shattered.png);
	background-color: rgba(69, 156, 235, .5);
}
.day-color {
	background-color: rgba(167, 207, 233, 1);
}
.day-button {
	background-color: rgba(69, 156, 235, 1);
	color: #10357B;
}
.day-button:hover{ /*site navigation buttons*/
	color: rgba(69, 156, 235, 1);
	background-color: #10357B;
	box-shadow: inset 0 0 5px dimgray;
	transition-duration: 300ms;
}
.day-button:active{ /*site navigation buttons*/
	color: #722249;
	background-color: #6486AB;
	box-shadow: inset 0 0 5px dimgray;
	transition-duration: 200ms;
}
.day-brand {
	background: linear-gradient(270deg,black, black, black, #722249,#722249, rgba(69, 156, 235, 1), rgba(69, 156, 235, 1), #10357B, #10357B, black, black, black);
}
.morning {
	background-image: url(../img/logan-sakura.jpg);
}
.morning-text {
	font-family: 'Pacifico', cursive;
	font-size: 2rem;
}
.nav-morning {
	background-image: url(../img/gray-floral.png);
	background-color: rgba(229, 227, 230, .5);
}
.morning-color {
	background-color: rgba(146, 143, 170, 1);
}
.morning-button {
	background-color: rgba(229, 227, 230, 1);
	color: #762754;
}
.morning-button:hover{ /*site navigation buttons*/
	color: rgba(229, 227, 230, 1);
	background-color: #762754;
	box-shadow: inset 0 0 5px dimgray;
	transition-duration: 300ms;
}
.morning-button:active{ /*site navigation buttons*/
	color: #722249;
	background-color: rgba(146, 143, 170, 1);
	box-shadow: inset 0 0 5px dimgray;
	transition-duration: 200ms;
}
.morning-brand {
	background: linear-gradient(270deg,black, black, black, rgba(146, 143, 170, 1),rgba(146, 143, 170, 1), rgba(229, 227, 230, 1), rgba(229, 227, 230, 1), #762754, #762754, black, black, black);
}
/*******************************************
buttons
*******************************************/

.custom-btn{ /*site navigation buttons*/
	display: inline-block;
	font-size: 2rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	border-radius: 10%;
	box-shadow: inset 0 0 10px #1A1818;
	width: 30vw;
	transition-duration: 500ms;
}
.custom-btn2{ /*site navigation buttons*/
	width:120px;
}

.custom-btn3{ /*site navigation buttons*/
	font-size: 1.5rem;
	width: 66%;
	position: absolute;
	bottom: 6%;
}

.top {
	padding-top: 2%;
}
.bottom {
	padding-bottom: 2%;
}
/*********************************************************
navbar
*********************************************************/
.navbar { /*texture from https://www.transparenttextures.com/*/
	min-height: 10%;
 }
.navbar-toggle {
	color: #1A1818;
}
.navbar-dark .navbar-brand {
	padding-top: 22px;
	font-size: 1.9rem;
);
	background-size: 800% 800%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.animate-nav {
	background-size: 800% 800%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: bg-shift 4s;

}

@keyframes bg-shift {
	0%{
		background-position:0% 50%
	}
	50%{
		background-position:100% 50%
	}
	100%{
		background-position:0% 50%
	}
}

@media (max-width: 750px) {
	.navbar-fixed-top{
		display: none;
	}
}
@media (min-width: 750px) {
	.navbar-fixed-bottom{
		display: none;
	}
}

/**********************************************************
parallax only for large screens
**********************************************************/
@media (min-width: 750px) {
	.mobile-background{
		display: none;
	}
	.filler {
		display: none;
	}
	/*parallax effect by david walsh https://davidwalsh.name/parallax*/
	.parallax [class*="bg__"] {
		position: relative;
		height: 50vh;
		text-indent: -9999px;
		background-attachment: fixed;
		background-position: top center;
		background-size: cover;
	}

	.parallax [class*="bg__"]:nth-child(2n) {
		box-shadow: inset 0 0 1em #111;
	}

	.parallax .bg__foo, .parallax .bg__bazz {
		height: 100vh;

	}

	.parallax .bg__foo {

	}

	.parallax .bg__bar {
		filter: grayscale(100%);
	}

	.parallax .bg__baz {
		filter: grayscale(100%)
	}

	.parallax .bg__bazz {

		filter: grayscale(100%);
	}

	.parallax .bg__break {
		box-shadow: inset 0 0 1em #111;
		filter: grayscale(100%)
	}

	.parallax .capture {
		float: right;
		width: 200px;
		padding: 1em;
		margin: -1.5em 1em 0 0;
		text-indent: 0;
		background: rgba(243, 243, 243, 0.75);
		box-shadow: 0 1px 0.125em #333;
	}

	article .container {
		width: 600px;
		margin: 0 auto;
	}

	article header {
		position: relative;
		margin: -5em 0 0 0;
		padding: 1em;
		text-align: left;
		font-size: 2em;
		color: #333;
		background-color: rgba(255, 255, 255, 0.75);
	}

	article h1, article h2 {
		margin: 0 0 0.333em;
	}

	article section {
		padding: 3em;
	}

	article section.parallax {
		margin: 0;
		padding: 0;
	}
}
/**********************************************************
background for mobile devices
**********************************************************/
@media (max-width: 750px) {

	.mobile-background {
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		height: 100vh;
		background-repeat: no-repeat;
		z-index: -1;
	}

	.filler {
		height: 100vh;
		background: transparent;
	}
	.v-center { /*for centering things vertically mobile*/
		padding-top: 47vh;
	}
	.content{
		padding-bottom: 15vh;
	}

	@media (max-width: 500px) {
		.last {
			padding-bottom: 100%;
		}
	}
	.last {
		padding-bottom: 30%;
	}
	.separated {
		 padding-bottom: 20px;
		 border-bottom: 2px solid #1A1818;
	 }
	.no-overflow {
		width: 97vw;
	}

	.label_select {
		color: #880054;
	}
}

.pad-down {
	padding-top:20px;
}
/*******************************
links and misc
*******************************/
a {
	color: #1A1818;
	font-size: 2rem;
	font-weight: 600;
}
a:visited, a:active {
	color: #880054;
}
@media (min-width: 750px){
.v-center { /*for centering things vertically full screen*/
	padding-top: 55vh;
}

}

/*****************************************
language selection interface
*****************************************/
input[type=radio] {
	display:none;
}
.lang_label {
  padding: 10px;
}
.lang_label:hover {
	cursor: pointer;
}
.label_select {
	color: #880054;
}
.transparent-btn {
	padding-top: 10px;
	background-color: transparent;
	border: none;
}
.german {
	font-size: 1.3rem;
}

.recap-style {
	margin-right: 50%;
	transform:scale(0.60);
	transform-origin:0 0;
}
/*****************************************
thumbnails
*****************************************/
.thumbnail {
	width: 400px;
	margin-left: 30px;
}
@media (min-width: 500px) {
	.thumbnail {

		width: 400px;
		margin-left: 30px;
	}
}

.thumbnail-row {
	width: 100%;

}
/**********************************
img
**********************************/
@media (min-width: 500px) {
	.intro-image {
		padding-left: 10%;
		padding-bottom: 3%;
	}
}
